@charset "UTF-8";

.table-info tr td {
	padding: 5px 10px;
}
.table-info .label-content {
    margin-right: 3%;
	padding: 3px 0;
	
    float: left;
	width: 30%;
	text-align: left;
}
.table-info tbody tr:hover {
	background: none;
	box-shadow: none;
}

.select-control>a {
	display: block;
	margin: 5px 0;
}
