@charset "UTF-8";
.table-info .label-content {
    margin-right: 20px;
    float: left;
	width: 30%;
	text-align: left;
}
.table-info tbody tr:hover {
	background: none;
	box-shadow: none;
}

.select-control>a {
	display: block;
	margin: 5px 0;
}
