@charset "UTF-8";

#container {
    margin: 0 auto;	
}
#content {
	padding-top: 100px;
}
#content .logo-name {
	margin: 0 auto 70px;
	display: block;
}
#content .login-form {
	margin: 50px auto;
	width: 600px;
	font-size: 1.1em;
}
#content .login-form .textfield {
	margin-right: 30px;
	margin-top: 15px;
	color: #aaa;
	font-size: 15px;
	width: 200px;
}
#content .comment-bottom {
	margin-top: 150px; 
	text-align: center;
	color: #969696;
	font-size: .9em;
}
