@charset "UTF-8";
body {
	font: 15px/1.4 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	
	background-color: #020202;	
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a>img { 
	border: none;
}
a {
	color: #aaa7a7;
	text-decoration: none;
}
a:hover { 
	color: #c3c0c0;
	text-decoration: underline;
}

#container {
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#020202', EndColorStr='#020202');
	background: -ms-linear-gradient(top, #020202 0%,#565656 50%,#020202 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020202), color-stop(50%,#565656), color-stop(100%,#020202));	
	background: linear-gradient(to bottom,  #020202 0%, #565656 50%, #020202 100%);
		
	color: white;	
	overflow: auto;
	min-width: 900px;
}

#sidebar {
	float: left;
	width: 180px;
	margin-left: -100%;
	
	border-right: 1px white groove;
}
#sidebar .logo {
	display: block;
	margin: 20px auto;
}
#sidebar h1 {
	text-align: center;
	font-family: 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
	text-shadow: 0 0 .1em #ffb500, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0.1em 0.1em 0.2em black;
	font-size: 2.5em;
}

ul.nav {
	list-style: none;
	padding: 10px 0;
}
ul.nav li {
	margin-bottom: 40px;
}
ul.nav li>a {
	margin: 0 1px;
	padding: 10px 0;
	display: block;
	outline: none;
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	
	border: 1px solid #a3a3a3;
	box-shadow: 0 0 5px 1px #a3a3a3;

	background-color: #f2f2f2;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#f2f2f2', EndColorStr='#949494');
	background: -ms-linear-gradient(left, #949494 0%, #f2f2f2 50%, #949494 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#949494), color-stop(50%,#f2f2f2), color-stop(100%,#949494));
	background: linear-gradient(to right,  #949494 0%, #f2f2f2 50%, #949494 100%);
}
ul.nav li>a:hover {	
	text-shadow: 0 0 .2em #fef4dd;
	text-decoration: none;
	box-shadow: 0 0 6px 1px #fdf2cf;
}

ul.breadcrumb {
	list-style: none;
	background-image: url(/RTSS/img/home.png);
	background-repeat: no-repeat;
	background-position: left center;
	
	padding: 15px 40px;
	margin-left: 20px;	
	
	overflow: auto;
}
ul.breadcrumb li {
	float: left;
	padding: 0 30px 0 10px;
	
	background-image: url(/RTSS/img/right-triangle.png);
	background-repeat: no-repeat;
	background-position: right center;
}
ul.breadcrumb li:last-child {
	background-image: none;	
	color: white;
}

#topbar {
	border-bottom: 1px groove white;
}

#content-wrapper {
	width: 100%;
	float: left;
}
#content {
	padding: 10px 0;
	margin-left: 180px;
}
#content ul, #content ol { 
	/*padding: 0 15px 15px 40px;*/
}

#content .main {
	padding: 15px 25px;
}

#footer {
	font-size: .9em;
	color: #949594;
	text-align: center;
	
	width: 180px;
	position: absolute;
	left: 0;
	bottom: 0;
	
	border-right: 1px white groove;		
}

.button {
	background-color: #343434;	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(25%,#818181), color-stop(60%,#343434), color-stop(85%,#818181), color-stop(100%,#343434));
	background: -ms-linear-gradient(top,  #343434 0%,#818181 25%,#343434 60%,#818181 85%,#343434 100%);
	background: linear-gradient(to bottom,  #343434 0%,#818181 25%,#343434 60%,#818181 85%,#343434 100%);
	
	border: 1px solid #404040;
	box-shadow: 0 0 5px 0 white;
	border-radius: 20px;
	padding: 5px 20px;
	
	text-align: center;
	color: white;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
.button:hover {
	box-shadow: 0 0 5px 1px #fef4dd;
	text-shadow: 0 0 .2em #fef4dd;
}

.fltrt {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-left: 10px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
