@charset "UTF-8";

@font-face
{
    font-family: 'Segoe UI Light';
    src: url('/RTSS/img/fonts/segoeuilight/segoeuilight.eot?#iefix') format('embedded-opentype'),
        url('/RTSS/img/fonts/segoeuilight/segoeuilight.woff') format('woff'),
        url('/RTSS/img/fonts/segoeuilight/segoeuilight.ttf')  format('truetype'),
        url('/RTSS/img/fonts/segoeuilight/segoeuilight.svg#SegoeUILight') format('svg');
}

@font-face
{
    font-family: 'Segoe UI Semibold';
    src: url('/RTSS/img/fonts/seguisb.ttf')  format('truetype');
}

@font-face
{
    font-family: 'Segoe UI';
    src: url('/RTSS/img/fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'),
        url('/RTSS/img/fonts/segoeui/segoeui.woff') format('woff'),
        url('/RTSS/img/fonts/segoeui/segoeui.ttf')  format('truetype'),
        url('/RTSS/img/fonts/segoeui/segoeui.svg#SegoeUI') format('svg');
}

@font-face{
    font-family: 'Open Sans';
    src: url('/RTSS/img/fonts/opensans/opensans.eot?#iefix') format('embedded-opentype'),
        url('/RTSS/img/fonts/opensans/opensans.woff') format('woff'),
        url('/RTSS/img/fonts/opensans/opensans.ttf')  format('truetype'),
        url('/RTSS/img/fonts/opensans/opensans.svg#SegoeUI') format('svg');
}

@font-face
{
    font-family: 'Droid Sans Regular';
    src: url('/RTSS/img/fonts/droidsans/droidsans.eot?#iefix') format('embedded-opentype'),
        url('/RTSS/img/fonts/droidsans/droidsans.woff') format('woff'),
        url('/RTSS/img/fonts/droidsans/droidsans.ttf')  format('truetype'),
        url('/RTSS/img/fonts/droidsans/droidsans.svg#DroidSansRegular') format('svg');
}


html, body{
    height:100%;
    margin:0;
    padding:0;
}

body{
    font: 14px 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
/*    color: rgb(68, 68, 68);*/
    min-width: 1000px;
	
	margin-top: -1px;
}

a {
	color: #0096D7;
	text-decoration: none;    
	outline: none;
}
a:hover { 
	color: #21AFED;
	text-decoration: underline;
}

a img {
	border: none;
}

#container {
	min-height: 100%;
    margin: 0 auto -50px;
    position: relative;
    padding: 0px;
    z-index: 0;
    background: url("/RTSS/img/page_gradient_linear.png") no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/RTSS/img/page_gradient_linear.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/RTSS/img/page_gradient_linear.png', sizingMethod='scale')";	
}

div.header {
    margin-left: 100px;
    margin-right:100px;
    padding-top:20px;
	padding-bottom: 15px;
}

div.header-top {
    margin-bottom: 15px;
}

img.logo {
    float: left;
    height: 100px;
    width: auto;
}

div.statusBar{
    /*    padding: 1px;*/
    display: inline-block;
    float: right;
    line-height: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.statusbar-item{
    float:left;
    margin: 0px 0px 0px 25px;
    position: relative;
}

div.wrapper{
    float:right;
    display: inline-block;
}

.menubar {
    float: right;
	
	background-color: rgb(211,211,211);
	background: -ms-linear-gradient(top, #FCFDFE 0%,#F5F6F7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCFDFE), color-stop(100%,#F5F6F7));
	background: linear-gradient(to bottom, #FCFDFE 0%,#F5F6F7 100%);	
    -pie-background: linear-gradient(to bottom, #FCFDFE, #F5F6F7);
    behavior: url("/RTSS/img/lib/PIE.htc");
	
	padding: 0;
	margin: 0;
}

.menubar .menu-item {
	list-style: none;
	float: left;
}

.menubar .menu-item .menu {
    color: rgb(68, 68, 68);
    display: block;    
	color: black;
	
	font-size: 15px;
	padding: 10px 15px;
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
	
	border:  1px solid rgb(220, 221, 222);
	margin-right: -1px;
}

.menubar .menu-item .menu:hover {
	text-decoration: none;
    box-shadow: inset 0 0 3px 0 #CECECE;
}

.menubar .menu-item.active .menu {
    background: whitesmoke;
    background: -ms-linear-gradient(top, #F7F8F9 0%,#FBFCFD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F8F9), color-stop(100%,#FBFCFD));
	background: linear-gradient(to bottom, #F7F8F9 0%,#FBFCFD 100%);
    -pie-background: linear-gradient(to bottom, #F7F8F9,#FBFCFD);
    behavior: url("/RTSS/img/lib/PIE.htc");
    
	box-shadow: 0 3px 6px -4px #B9B9B9, inset 0 0 2px 0 #CCC;
}

div.submenu{
    margin: 0px;
    padding: 0px 0px 0px;
    display: inline;
}

img.submenu-separator{
    width: 100%;
    height: 2px;
    display:inline;
	
	margin-top: 10px;
}

div.submenu-title {
    vertical-align: bottom;
    display: inline-block;
}

h1.submenu-title{
    margin:0px;
    /*    float: left;*/
    font-size:22px;
    line-height:24px;
    text-shadow: 0 1px 0 #FFF;
    font-family: "Segoe UI Light",Arial,Verdana,sans-serif;
    font-weight: normal;
}
a.submenu-title{
    color: rgb(68,68,68);
}


.submenubar {
	float: right;	
	padding: 0;
	margin: 0;
	margin-top: -3px;
}

.submenubar .submenu-item {
	list-style: none;
    float:left;
    margin-left: 15px;
}

.submenubar .submenu-item .submenu {
    display: block;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(68, 68, 68);
	padding: 2px 5px;
}

.submenubar .submenu-item .submenu:hover {
	text-decoration: none;
	
	border-bottom: 2px solid rgba(255, 23, 105, .5);
}

.submenubar .submenu-item.active .submenu {
	border-bottom: 2px solid rgb(45,137,239);
}

img.menu{
    /*    width:38px;*/
    /*    padding: 0px 20px;*/
    height:18px;
    /*    margin:0;*/
    vertical-align: middle;
}

div.content{
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
}

div.footer{
    position:absolute;
    bottom:0px;
    height:50px;
    width:100%;
    line-height: 50px;
    /*    border-top: 1px solid rgb(35, 36, 37);*/
    background: rgb(45,46,47);
    
	margin-bottom: -1px;
}

div.footer span{
    margin-left: 100px;
    margin-right:100px;
    color: #CCC;
}

table.hovered{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	
	text-align: center;
	
    margin:0px 0px 20px;
    line-height: 20px;
}

table.hovered th.hovered {
    padding-bottom: 5px;
    padding-top:10px;
    padding-left: 5px;
    font-family: "Segoe UI Semibold", Verdana,Arial,Helvetica,sans-serif;
	font-weight: 500;
    line-height: 19px;
    color:rgb(0,0,0);
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

table.hovered td{
    font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-weight: 300;
    line-height: 20px;
    padding: 3px 10px;
    border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

table.hovered tr td:first-child, table.hovered tr th:first-child {
	border-left: none;
}

table.hovered tr td.text-left {
	text-align: left;
}

table.hovered tbody tr:hover{
    background-color: #C7EAF9;
}

.colorbox{
    z-index: 30;
    min-height: 10px;
    vertical-align: middle;
    display:inline-block;
    width: 100%;
    /*    margin-right: 20px;*/
    /*    margin-bottom: 5px;*/
    /*    width:auto;*/
    /*    display: inline-table;*/
}

.colorbox .box-title {
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 24pt;
    color: rgb(255, 255, 255);
    /*    margin: 10px 0px;*/
    padding: 10px;
	padding-left: 0;
	margin-left: 15px;
    display: inline-block;
}

.blue{
    background-color: rgb(45,137,239);
}
.green{
    background-color: rgb(0, 163, 0);
}

.yellow{
    background-color: rgb(255, 196, 13);
}

.red{
    background-color: rgb(255, 23, 105);
}

.accordion{
    display:inline-block;
    width: 100%;
	
	position: relative;
}

.accordion .icon-link {
	margin-left: 15px;
	margin-right: -10px;
	
	color: white;
	font-size: 20px;
	
	position: relative;
	top: 2px;
}

/** common for all */
#container .error-msg {
	color: red;
	padding: 10px 0;
}

.button {
	padding: 10px 20px;
	background-color: #2D89EF;
	
	color: white;
	font: 16px 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	cursor: pointer;
	outline: none;
	border: none;
}
.button:hover {
	background-color: #24459A;
	color: #dddddd;
	text-decoration: none;
}
.button.red {
	background-color: #FF1769;
}
.button.red:hover {
	background-color: #9B175A;
}
.button.green {
	background-color: #00A300;
}
.button.green:hover {
	background-color: #006600;
}

.button.button-small {
	font-size: 14px; 
	padding: 5px 10px;
}

.button .icon {
	width: 15px;
	margin-right: 10px;
}

.textfield {
	margin: 0 5px;
	font-size: 14px;
	width: 200px;
}

.datefield {
	width: 6.5em; 
	text-align: center;
}

.ui-datepicker {
    font-size: .8em;
}

.ui-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-dialog .ui-dialog-buttonset .ui-button {
	outline: none;
}

.ui-autocomplete {
	max-height: 10em;
	overflow-y: auto;
	overflow-x: hidden;
	
	box-shadow: 0 3px 3px 0 gray;
}
.ui-autocomplete .ui-menu-item {
	font-size: .9em;
}