@charset "UTF-8";
body {
	font: 15px/1.4 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#container {
	width: 900px;
	margin: 10px auto;
	padding-left: 30px;
}

.table-info {
	border-collapse: collapse;
	table-layout: fixed;
	color: black;
	text-align: center;
	background-color: #ffffff;
	
	margin-top: 10px;
	border: 1px solid black;
}

.table-info th {
	border: 1px black solid;	
	padding: 5px 0;
	
	background-color: #a5a5a5;
}
.table-info .sort {	
	cursor: pointer;
}
.table-info tr td {
	padding: 5px 10px;
	border: 1px black solid;
}
