@charset "UTF-8";

.accordion .control-top {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.accordion .control-top>a {
	color: white;
	margin-left: 10px;
}

#btnScheduleAll .icon {
	width: 17px;
}

.bt-control {
	float: right;
	padding-top: 15px;
}
.bt-control .button {
	margin-left: 20px;
	display: inline-block;
}
.bt-control .button .icon {
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.hovered.table-info tr th.sort {	
	cursor: pointer;
}
.hovered.table-info tr th.sort:hover {
	box-shadow: inset 0 5px 5px 0 #AAAAAA;
    behavior: url("/RTSS2/img/PIE.htc");
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAAAAA', endColorstr='#F4F5F6',GradientType=0 );
}
.hovered.table-info tr th .ui-icon {
	float: right;
	margin-top: 3px;
}

#teacher-detail .table-info {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	font-size: 14px;
}
#teacher-detail .table-info tr td {
	background-color: #ffffff;
	word-wrap: break-word;
	border: 1px solid black;
	padding: 5px;
}
#teacher-detail .table-info tr td:first-child {
	background-color: #f9f9f9;
	font-weight: bold;
	text-align: right;
	width: 100px;
}
