@charset "UTF-8";

.table-info input, .table-info select {
	font-size: 12px;
}
.table-info textarea {
	font-size: 14px;
	width: 95%;
	height: 5em;
}
.table-info .time-line {
	text-align: right;
	padding-right: 10px;
	margin: 5px auto;
}
.table-info .small-bt {
	margin: 5px 0;
	width: 24px;
	height: 24px;
}
.table-info .toggle-edit {
	display: none;
}
.table-info #last-row {
	display: none;
	min-height: 100px;
}
.table-info #last-row .add-edit {
	display: none;
}
.table-info .textfield {
    width: 95%;	
}

.table-info tr td:last-child {
	text-align: left;
}

/*
#last-row .toggle-edit {
	display: inline;
}
#last-row .toggle-display {
	display: none;
}
*/