@charset "UTF-8";

.accordion .control-top {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.accordion .control-top>a {
	color: white;
	margin-left: 10px;
}

#btnScheduleAll {
	padding: 10px 40px;
}
#btnScheduleAll .icon {
	width: 17px;
}

.bt-control {
	float: right;
	margin-top: 15px;	
}
.bt-control .button {
	margin-left: 20px;
}

#teacher-detail .table-info {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	font-size: 14px;
}
#teacher-detail .table-info tr td {
	background-color: #ffffff;
	word-wrap: break-word;
	border: 1px solid black;
	padding: 5px;
}
#teacher-detail .table-info tr td:first-child {
	background-color: #f9f9f9;
	font-weight: bold;
	text-align: right;
	width: 100px;
}
