@charset "UTF-8";

.textfield {
	margin: 15px 5px 0;
	font-size: 15px;
	width: 80px;
}
.section {
	margin-top: 30px;
}

.table-info {
	border-collapse: collapse;
	table-layout: fixed;
	width: 95%;
	color: black;
	text-align: center;
	background-color: #ffffff;
	
	margin-top: 10px;
	box-shadow: 0 0 1px 1px white;
}
.table-info th {
	border: 1px black solid;	
	padding: 5px 0;
	
	background-color: #a5a5a5;
	background: -ms-linear-gradient(top, #aaaaaa 0%,#999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#999999));
	background: linear-gradient(to bottom, #aaaaaa 0%,#999999 100%);
}
.table-info .sort {	
	cursor: pointer;
}
.table-info .sort:hover {
	background-color: #999999;
	background: -ms-linear-gradient(top, #999999 0%,#a5a5a5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#a5a5a5));
	background: linear-gradient(to bottom, #999999 0%,#a5a5a5 100%);
}
.table-info th .ui-icon {
	float: right;
	margin-top: 3px;
}
.table-info tbody tr {
	background-color: #ffffff;
}
.table-info tbody tr:nth-child(odd) {
	background-color: #ededed;
}
.table-info tbody tr:hover {
	background-color: #dbdbdb;
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.4)), color-stop(100%, rgba(0,0,0,0.4)));
	background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.4) 100%);
	
	box-shadow: inset 0 0 2px 0 black;
}
.table-info tr td {
	padding: 5px 10px;
	border: 1px black solid;
}
.table-info tr td>a {
	color: #e77200;
}

.bt-control {	
	margin-top: 40px;
	text-align: center;
}
.bt-control .button {
	width: 160px;
	margin-right: 100px;
}

#teacher-detail .table-info tr td {
	background-color: #ffffff;
	word-wrap: break-word;
}
#teacher-detail .table-info tr td:nth-child(odd) {
	background-color: #f9f9f9;
	font-weight: bold;
	text-align: right;
	width: 100px;
}

div.ui-datepicker {
	font-size: .75em;
	box-shadow: 0 2px 6px 1px black;
}
