@charset "UTF-8";

.field {
	font-size: 14px;
	width: 200px;
}

.box-title .filter-control {
	position: relative;
	top: -3px;
	margin-left: 15px;
	
	font-size: 14px;
	letter-spacing: 0;
}

#overall tr td:first-child {
	text-align: left;
	word-wrap: break-word;
}

#individual-summary tr th, #individual-detail tr th {
    width: 110px;
}
#individual .table-info tbody tr:hover {
	background-color: inherit;
}

#individual-summary tr th, #individual-summary tr td {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
	

#individual-detail tr td, #individual-detail tr th {
	border: 1px solid #DDDDDD;
}