@charset "UTF-8";

.field {
	font-size: 14px;
	width: 200px;
}

.row {
	margin-bottom: 15px;
	margin-left: -10px;
}
.row .label {
	margin-right: 5px;
	margin-left: 20px;
}

#overall tr td:first-child {
	text-align: left;
	word-wrap: break-word;
}

#individual-summary tr th, #individual-detail tr th {
    width: 110px;
}
#individual .table-info tbody tr:hover {
	background-color: inherit;
}

#individual-summary tr th, #individual-summary tr td {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
	

#individual-detail tr td, #individual-detail tr th {
	border: 1px solid #DDDDDD;
}