@charset "UTF-8";

#tabs .main {
	color: white;
	font-size: 1.1em;
	max-width: 800px;
}
.main fieldset {
	padding: 10px;
}
.main fieldset>legend {
	margin-left: 15px;
	color: white;
	padding: 10px;
}
.main .textfield {
	margin-top: 0;
}

.table-info {
	width: 100%;	
}

#table-overall tr td:first-child {
	text-align: left;
	word-wrap: break-word;
}
#table-individual tr td {
	background-color: white;
}
#table-individual tr td:nth-child(odd) {
	background-color: #f9f9f9;
}

.ui-autocomplete {
	max-height: 11em;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
	font-size: .9em;
}