@charset "UTF-8";

#tabs {
    max-width: 700px;
}

#tabs .main {
	color: white;
	font-size: 1.1em;	
}
.main fieldset {
    padding: 10px;
}
.main fieldset>legend {
	margin-left: 15px;
	color: white;
	padding: 0 10px;
}
.main .line {
    margin-left: 5px;
    margin-bottom: 5px;
}

.table-info {
	width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
}

#table-overall tr td:first-child {
	text-align: left;
	word-wrap: break-word;
}

#individual-summary {
    margin-top: 0;
    width: 30%;
    margin-right: 5%;
    float: left;
}
#individual-detail {
    width: 65%;
}
#individual-summary tr th, #individual-detail tr th {
    width: 110px;
}
#individual-summary tr td, #individual-detail tr td {
	background-color: white;
}

.ui-autocomplete {
	max-height: 11em;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
	font-size: .9em;
}