@charset "UTF-8";

.table-info input, .table-info select {
	font-size: .85em;
}
.table-info .text-hidden {
	display: none;
	width: 90%;
}

#dialog-alert .table-info {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	font-size: 14px;
}
#dialog-alert .table-info tr td, #dialog-alert .table-info tr th {
	background-color: #ffffff;
	word-wrap: break-word;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}
#dialog-alert .table-info tr th {
	background-color: #f9f9f9;
}
