@charset "UTF-8";

#tabs {
	margin: 15px 25px;	
	font-size: .9em;
}
#tabs>ul {
	position: relative;
}
#tabs .gradient-top {
	position: absolute;
	left: 3px;
	height: 10px;
	width: 99.5%;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#00888888',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,136,136,1)), color-stop(100%,rgba(136,136,136,0)));
	background: -ms-linear-gradient(top, rgba(136,136,136,1) 0%,rgba(136,136,136,0) 100%);
	background: linear-gradient(to bottom, rgba(136,136,136,1) 0%,rgba(136,136,136,0) 100%);
}

#tabs .ui-widget-header {
    background: none;
    border: none;	
}
#tabs.ui-widget-content {
	background: none;
	border: none;
}
#tabs .ui-widget-content {
	border: none;	
	box-shadow: 0 0 3px 1px #c8c8c8;
}

#tabs .ui-widget-header .ui-state-default {
	border: none;
	
	background: #b8bcbd;
}
#tabs .ui-widget-header .ui-state-default a {
	color: black;
}
#tabs .ui-widget-header .ui-state-hover {		
	background: #d3d5d6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d5d6', endColorstr='#b8bcbd',GradientType=0 ); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d5d6), color-stop(55%,#b8bcbd), color-stop(100%,#b8bcbd));
	background: -ms-linear-gradient(top,  #d3d5d6 0%,#b8bcbd 55%,#b8bcbd 100%);
	background: linear-gradient(to bottom,  #d3d5d6 0%,#b8bcbd 55%,#b8bcbd 100%);
}

#tabs .ui-widget-header .ui-state-active {	
	border: none;
	
	background: #e1e1e1;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#e1e1e1', EndColorStr='#888888');	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#888888));
	background: -ms-linear-gradient(top,  #e1e1e1 0%, #888888 100%);
	background: linear-gradient(to bottom,  #e1e1e1 0%, #888888 100%);
}
#tabs .ui-widget-header .ui-state-active a {
	color: black;
}

#tabs.ui-widget select {
    font-size: .85em;
}
