@charset "UTF-8";

select.dropdown {
	margin-left: 10px;
	letter-spacing: 0;
	position: relative;
	top: -3px;
}

.hovered.table-info thead tr th, .hovered.table-info tbody tr td {
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}

.hovered.table-info .time-col {
	background-color: #EEEFF0;
	background: -ms-linear-gradient(top, #F1F2F3 0%,#EAEBEC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F2F3), color-stop(100%,#EAEBEC));
	background: linear-gradient(to bottom, #F1F2F3 0%,#EAEBEC 100%);
	-pie-background: linear-gradient(to bottom, #F1F2F3, #EAEBEC);
	
	behavior: url(/RTSS2/img/PIE.htc);
}