@charset "UTF-8";

.main {
	margin-bottom: 10px;
}
.main .line {
	margin-top: 15px;
}
.main .line .label {
	float: left;
	width: 100px;
	margin-right: 10px;
	text-align: right;
}

.hovered.table-info {
	width: 60%;
	
	font-size: 1.1em;
}

.hovered.table-info tr td {
	padding: 5px 10px;
}