@charset "UTF-8";

.main {
	margin-bottom: 10px;
}
.main .line {
	margin-top: 15px;
	overflow: auto;
}
.main .line .label {
	float: left;
	width: 100px;
	margin-right: 20px;
	text-align: right;
}

.table-info {
	width: 680px;
}
.table-info tr td {
	padding: 0;
	height: 55px;
}

.form-table {
	margin-bottom: 15px;
	table-layout: fixed;
	width: 695px;
}
.form-table td {
	padding: 5px;	
}
.form-table .label {
	padding-left: 20px;
	padding-right: 0;
	margin-left: 10px;
	text-align: right;
}
.form-table .comment {
	font-size: .8em;
	color: #EC8E0C;
	margin-left: 10px;
}

.row {
	margin-top: 15px;
	margin-left: 150px;
}
.row .label {
	margin-right: 10px;
}

.subject {
	position: absolute;  
	background-color: #ededed;
	
	font-size: 12px;
	color: black;
	overflow: hidden;
	
	box-shadow: 0 0 5px 0 #5E5E5E;
}
.subject>table {
	height: 100%;
	width: 100%;
	text-align: center;
}
.subject .subject-close {
	width: 16px;
	height: 16px;
	
	position: absolute;
	top: 0;
	right: 0;
}
.subject .subject-close .ui-button-text {
	padding: 0;
}

.ui-autocomplete {
	max-height: 10em;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
	font-size: .9em;
}