@charset "UTF-8";
.table-info .label-content {
    margin-right: 20px;
    float: left;
	width: 30%;
	text-align: left;
}
.table-info tbody tr:hover {
	background: none;
	box-shadow: none;
}
.table-info tr td .select-control {
	text-align: center;
	clear: both;
}
.table-info tr td .select-control>a {
	width: 20px;
	height: 20px;
	
	margin: 5px 30px;
}
.table-info tr td .select-control>a .ui-button-text {
	padding: 0;
}
