@charset "UTF-8";

.result {
	width: 500px;
	margin-top: 30px;
	margin-left: 50px;
}
.result fieldset>legend {
	margin-left: 15px;
	color: white;
	padding: 0 10px;
}
.result fieldset .button {
	float: right;
	margin: 10px 30px 10px 0;
}
.result fieldset .result-table tr td:first-child {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
